body{
    background-color: rgb(50, 47, 47);
}
.main{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    margin : 5px;
    background-color: lightblue;
    transform: scale(1.7);

}
#result{
    background-color: yellowgreen;
}
.cal{
    display:flex;
    justify-content: center;
}

.heading,
.info{
    color: red;
    font-size : 50px;
    text-align: center;
    margin : 90px 0px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.key{
    margin-top : 5px;
    margin-bottom : 5px;
    border-radius : 2px;
    transform : scale(1.1);
}
button{
    border-radius : 5px;
    border: 1px solid green;
    transform: scale(1.1);
    background-color: yellow;
}
button:hover{
    color: blue;
}

